* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.lil-gui {
  --background-color: rgb(0, 0, 0);
  --widget-color: #ad88c6;
  color: snow;
  font-size: 12px;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icons-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  filter: invert(100%);
}

.Flaticon-icons {
  display: none;
}
